@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS cho nút "Publish" */
.publish .ant-modal-footer button.ant-btn-primary:hover {
  background-color: rgba(
    167,
    53,
    116,
    0.08
  ) !important; /* Đổi màu nền khi hover */
  color: #a73574 !important; /* Đổi màu văn bản khi hover */
}

/* CSS cho nút "Cancel" */
.publish .ant-modal-footer button.ant-btn:not(.ant-btn-primary):hover {
  background-color: rgba(167, 53, 116, 0.08); /* Đổi màu nền khi hover */
  color: #a73574; /* Đổi màu văn bản khi hover */
}
.publish .ant-btn {
  border-radius: 36px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  color: #a73574;
  box-shadow: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-weight: 500 !important;
  height: 40px !important;
  width: 75px !important;
  border: none !important;
}
.publish .ant-modal-content {
  padding: 24px !important;
  border-radius: 28px !important;
}
.publish .ant-modal-header {
  margin-bottom: 16px !important;
}
.publish .ant-modal-footer {
  margin-top: 24px !important;
}
.items .ant-dropdown-menu-item {
  padding: 0px 0px;
}
/* Css ant date Picker */
.ant-picker-input {
  flex-direction: row-reverse !important;
}

.commentSetting {
  width: 320px !important;
  border-radius: 8px !important;
  height: 96px !important;
}
.commentSetting ul {
  padding: 8px 0px 8px 0px !important;
  border-radius: 8px !important;
  height: 100% !important;
  display: grid !important;
  grid-template-rows: auto auto !important;
}
.commentSetting ul li {
  width: 100% !important;

  padding: 0px 16px 0px 16px !important;
  display: flex !important;
  align-items: center !important;
  gap: 16px !important;
}
.commentSettingOther {
  width: 320px !important;
  border-radius: 8px !important;
  height: 48px !important;
}
.commentSettingOther ul {
  padding: 8px 0px 8px 0px !important;
  border-radius: 8px !important;
  height: 100% !important;
  display: grid !important;
  grid-template-rows: auto auto !important;
}
.commentSettingOther ul li {
  width: 100% !important;

  padding: 0px 16px 0px 16px !important;
  display: flex !important;
  align-items: center !important;
  gap: 16px !important;
}
.reportsuccess {
  position: relative;
  z-index: 10;
}
@media (min-width: 1320px) {
  .reportsuccess .ant-modal {
    width: 600px;
  }
}
.reportsuccess .ant-modal-content {
  padding: 0px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  background-color: #fff8f8;
  height: auto;
}
.reportsuccess .ant-modal {
  display: flex;
  justify-content: center;
  width: 380px;
}
/* .communityPage .slick-list {
  height: 500px;
} */
